spring:
  application:
    name: 'order-management-service'
  zipkin:
    base-url: http://127.0.0.1:9411/

server:
  port: 9100

management:
  endpoints:
    web:
      exposure:
        include: '*'

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    com:
      tastyfood:
        order:
          service: INFO